body{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins",sans-serif;
    background-color: rgb(179, 177, 177);
    margin: 0;
    min-height: 100vh;
}

.carousel{
    box-shadow: 10px 10px 10px rgba(0,0,0,0.3);
    border-radius: 50%;
    overflow: hidden;
    height: 650px;
    width:650px;
}

.image-container{
    display: flex;
    transition: transform 0.3s linear;
    transform: translateX(0);
}

img{
    object-fit: fill;
    width: 650px;
    height: 650px;
}
